.sidebar__list {
  list-style-type: none;
  padding: 0 0 0 20px;
}

.sidebar__list-item {
  margin-bottom: 28px;
}

.sidebar__link {
  font-family: "Lato";
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0.1rem;
}
